<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>[:title:]</title>
        <link href="base.css" rel="stylesheet" />
        <link href="[:css_path:]" rel="stylesheet" />
    </head>
    <body>
        <!-- HEADER (START) -->
        <header>
            <strong>@michabay05</strong>
            <nav>
                <ul id="nav-links">
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/projects.html">Projects</a></li>
                    <li><a href="/blogs.html">Blogs</a></li>
                </ul>
            </nav>
        </header>
        <!-- HEADER (END) -->

        <main>
[:body:]
        </main>

        <!-- FOOTER (START) -->
        <footer>
            <!-- <img src="../assets/GitHub_Invertocat_Black.svg"/> -->
            <p>&#xA9; [:year:] Michael Abayneh @michabay05.</p>
        </footer>
        <!-- FOOTER (END) -->
    </body>
</html>
